<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppCoder/index.html" %}

    {%load static %}

    {%block quecambia %}
    {% for p in cursos %}

    <p>Nombre: <i>{{ p.nombre }}</i></p>
    <p>Camada: <i>{{ p.camada }}</i></p>

    <button>
        <a href="{% url 'CursoDelete' p.id %}"> Eliminar</a>
    </button>
    <button>
        <a href="{% url 'CursoEdit' p.id %}">Editar</a>
    </button>

{% endfor %}

<br>

<button>
<a href="{% url 'CursoNew' %}">Agregar otro Curso</a>
</button>

    
    {%endblock%}
</body>
</html>