<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "ProyectoFinal/index.html" %}

    {%load static %}

    {%block quecambia %}
    {% for p in estudiantes %}

    <p>Nombre: <i>{{ p.nombre }}</i></p>
    <p>Apellido: <i>{{ p.apellido }}</i></p>
    <p>Email: <i>{{ p.email }}</i></p>
    <button>
        <a href="{% url 'EstudianteDelete' p.id %}"> Eliminar</a>
    </button>
    <button>
        <a href="{% url 'EstudianteEdit' p.id %}">Editar</a>
    </button>

{% endfor %}

<br>

<button>
<a href="{% url 'New' %}">Agregar otro Estudiante</a>
</button>

    
    {%endblock%}
</body>
</html>